@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.soft-shadow {
  box-shadow:
    0px 0px 0px 0px #D1D1D11A,
    0px 3.03px 6.07px 0px #D1D1D11A,
    0px 10.12px 10.12px 0px #D1D1D117,
    0px 23.27px 14.16px 0px #D1D1D10D,
    0px 40.47px 16.19px 0px #D1D1D103,
    0px 63.73px 18.21px 0px #D1D1D100;
}